<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Q</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-16</integer>
    </dict>
    <key>degree</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-10</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-26</integer>
    </dict>
    <key>public.kern1.1</key>
    <dict>
      <key>public.kern2.3</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.2</key>
    <dict>
      <key>public.kern2.4</key>
      <integer>-16</integer>
      <key>public.kern2.pico</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.3</key>
    <dict>
      <key>public.kern2.1</key>
      <integer>-36</integer>
      <key>public.kern2.2</key>
      <integer>-26</integer>
      <key>public.kern2.period</key>
      <integer>-26</integer>
    </dict>
    <key>public.kern1.4</key>
    <dict>
      <key>public.kern2.1</key>
      <integer>-26</integer>
      <key>public.kern2.period</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.5</key>
    <dict>
      <key>public.kern2.1</key>
      <integer>-30</integer>
      <key>public.kern2.7</key>
      <integer>-16</integer>
      <key>public.kern2.period</key>
      <integer>-26</integer>
    </dict>
    <key>public.kern1.6</key>
    <dict>
      <key>public.kern2.7</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-26</integer>
    </dict>
    <key>public.kern1.8</key>
    <dict>
      <key>public.kern2.1</key>
      <integer>-16</integer>
      <key>public.kern2.7</key>
      <integer>-16</integer>
      <key>public.kern2.A</key>
      <integer>-6</integer>
      <key>public.kern2.period</key>
      <integer>-26</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.1</key>
      <integer>-46</integer>
      <key>public.kern2.7</key>
      <integer>-10</integer>
      <key>public.kern2.8</key>
      <integer>-6</integer>
      <key>public.kern2.Lbroken</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>-16</integer>
      <key>public.kern2.T</key>
      <integer>-46</integer>
      <key>public.kern2.U</key>
      <integer>-6</integer>
      <key>public.kern2.V</key>
      <integer>-36</integer>
      <key>public.kern2.Y</key>
      <integer>-46</integer>
      <key>public.kern2.a</key>
      <integer>-6</integer>
      <key>public.kern2.bslash</key>
      <integer>-30</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.quote</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-6</integer>
      <key>public.kern2.t</key>
      <integer>-16</integer>
      <key>public.kern2.v</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-6</integer>
      <key>public.kern2.O</key>
      <integer>-6</integer>
      <key>public.kern2.S</key>
      <integer>-16</integer>
      <key>public.kern2.T</key>
      <integer>-26</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-26</integer>
      <key>public.kern2.Y</key>
      <integer>-26</integer>
      <key>public.kern2.Z</key>
      <integer>-16</integer>
      <key>public.kern2.period</key>
      <integer>-26</integer>
      <key>public.kern2.s</key>
      <integer>-16</integer>
      <key>public.kern2.t</key>
      <integer>-16</integer>
      <key>public.kern2.v</key>
      <integer>-6</integer>
      <key>public.kern2.x</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <integer>-16</integer>
      <key>public.kern2.T</key>
      <integer>-26</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-16</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.Z</key>
      <integer>-16</integer>
      <key>public.kern2.g</key>
      <integer>-16</integer>
      <key>public.kern2.period</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-36</integer>
      <key>public.kern2.J</key>
      <integer>-90</integer>
      <key>public.kern2.O</key>
      <integer>-16</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-26</integer>
      <key>public.kern2.g</key>
      <integer>-16</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-16</integer>
      <key>public.kern2.period</key>
      <integer>-76</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-26</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.U</key>
      <integer>-16</integer>
      <key>public.kern2.a</key>
      <integer>-6</integer>
      <key>public.kern2.o</key>
      <integer>-26</integer>
      <key>public.kern2.t</key>
      <integer>-26</integer>
      <key>public.kern2.u</key>
      <integer>-16</integer>
      <key>public.kern2.v</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.7</key>
      <integer>-60</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.Lbroken</key>
      <integer>-90</integer>
      <key>public.kern2.O</key>
      <integer>-26</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.U</key>
      <integer>-26</integer>
      <key>public.kern2.V</key>
      <integer>-56</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-76</integer>
      <key>public.kern2.o</key>
      <integer>-16</integer>
      <key>public.kern2.quote</key>
      <integer>-70</integer>
      <key>public.kern2.t</key>
      <integer>-26</integer>
      <key>public.kern2.u</key>
      <integer>-16</integer>
      <key>public.kern2.v</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>degree</key>
      <integer>-10</integer>
      <key>parenright</key>
      <integer>-26</integer>
      <key>public.kern2.1</key>
      <integer>-10</integer>
      <key>public.kern2.3</key>
      <integer>-16</integer>
      <key>public.kern2.A</key>
      <integer>-16</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-26</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.g</key>
      <integer>-16</integer>
      <key>public.kern2.period</key>
      <integer>-36</integer>
      <key>public.kern2.quote</key>
      <integer>-16</integer>
      <key>public.kern2.x</key>
      <integer>-6</integer>
      <key>question</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.J</key>
      <integer>-66</integer>
      <key>public.kern2.S</key>
      <integer>-6</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-16</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-6</integer>
      <key>public.kern2.period</key>
      <integer>-86</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.7</key>
      <integer>-16</integer>
      <key>public.kern2.A</key>
      <integer>-14</integer>
      <key>public.kern2.J</key>
      <integer>-26</integer>
      <key>public.kern2.S</key>
      <integer>-16</integer>
      <key>public.kern2.T</key>
      <integer>-26</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-26</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>10</integer>
      <key>public.kern2.period</key>
      <integer>-16</integer>
      <key>public.kern2.t</key>
      <integer>-16</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-46</integer>
      <key>public.kern2.J</key>
      <integer>-66</integer>
      <key>public.kern2.O</key>
      <integer>-26</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-46</integer>
      <key>public.kern2.g</key>
      <integer>-46</integer>
      <key>public.kern2.n</key>
      <integer>-46</integer>
      <key>public.kern2.o</key>
      <integer>-56</integer>
      <key>public.kern2.period</key>
      <integer>-66</integer>
      <key>public.kern2.s</key>
      <integer>-36</integer>
      <key>public.kern2.t</key>
      <integer>-26</integer>
      <key>public.kern2.u</key>
      <integer>-46</integer>
      <key>public.kern2.v</key>
      <integer>-26</integer>
      <key>public.kern2.x</key>
      <integer>-26</integer>
      <key>public.kern2.z</key>
      <integer>-26</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-6</integer>
      <key>public.kern2.period</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.1</key>
      <integer>-10</integer>
      <key>public.kern2.4</key>
      <integer>-16</integer>
      <key>public.kern2.A</key>
      <integer>-36</integer>
      <key>public.kern2.J</key>
      <integer>-46</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <integer>-16</integer>
      <key>public.kern2.a</key>
      <integer>-26</integer>
      <key>public.kern2.g</key>
      <integer>-30</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.period</key>
      <integer>-46</integer>
      <key>public.kern2.s</key>
      <integer>-26</integer>
      <key>public.kern2.slash</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.tiret</key>
      <integer>-36</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-6</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-16</integer>
      <key>public.kern2.O</key>
      <integer>-26</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-16</integer>
      <key>public.kern2.a</key>
      <integer>-16</integer>
      <key>public.kern2.g</key>
      <integer>-16</integer>
      <key>public.kern2.o</key>
      <integer>-36</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>-26</integer>
      <key>public.kern2.u</key>
      <integer>-16</integer>
      <key>public.kern2.v</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-46</integer>
      <key>public.kern2.J</key>
      <integer>-56</integer>
      <key>public.kern2.O</key>
      <integer>-16</integer>
      <key>public.kern2.S</key>
      <integer>-16</integer>
      <key>public.kern2.a</key>
      <integer>-46</integer>
      <key>public.kern2.g</key>
      <integer>-46</integer>
      <key>public.kern2.n</key>
      <integer>-26</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-66</integer>
      <key>public.kern2.s</key>
      <integer>-26</integer>
      <key>public.kern2.t</key>
      <integer>-16</integer>
      <key>public.kern2.u</key>
      <integer>-26</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-16</integer>
      <key>public.kern2.o</key>
      <integer>-26</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.bslash</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-56</integer>
      <key>public.kern2.X</key>
      <integer>-26</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.eszett</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-26</integer>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.g</key>
      <integer>-36</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-76</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <integer>-6</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-16</integer>
      <key>public.kern2.Y</key>
      <integer>-16</integer>
      <key>public.kern2.a</key>
      <integer>-16</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-6</integer>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2.t</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>46</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-16</integer>
      <key>public.kern2.T</key>
      <integer>-46</integer>
      <key>public.kern2.U</key>
      <integer>-16</integer>
      <key>public.kern2.V</key>
      <integer>-26</integer>
      <key>public.kern2.Y</key>
      <integer>-46</integer>
      <key>public.kern2.a</key>
      <integer>-6</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.lslash</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-6</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-46</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <integer>-16</integer>
      <key>public.kern2.T</key>
      <integer>-56</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2.Z</key>
      <integer>-16</integer>
      <key>public.kern2.o</key>
      <integer>6</integer>
      <key>public.kern2.period</key>
      <integer>-22</integer>
      <key>public.kern2.quote</key>
      <integer>-26</integer>
      <key>public.kern2.s</key>
      <integer>-6</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-6</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
      <key>public.kern2.z</key>
      <integer>-6</integer>
    </dict>
    <key>public.kern1.open</key>
    <dict>
      <key>public.kern2.1</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.1</key>
      <integer>-100</integer>
      <key>public.kern2.3</key>
      <integer>-10</integer>
      <key>public.kern2.4</key>
      <integer>-10</integer>
      <key>public.kern2.5</key>
      <integer>-10</integer>
      <key>public.kern2.8</key>
      <integer>-26</integer>
      <key>public.kern2.9</key>
      <integer>-26</integer>
      <key>public.kern2.J</key>
      <integer>-16</integer>
      <key>public.kern2.O</key>
      <integer>-36</integer>
      <key>public.kern2.T</key>
      <integer>-66</integer>
      <key>public.kern2.U</key>
      <integer>-36</integer>
      <key>public.kern2.V</key>
      <integer>-46</integer>
      <key>public.kern2.Y</key>
      <integer>-66</integer>
      <key>public.kern2.o</key>
      <integer>-22</integer>
      <key>public.kern2.t</key>
      <integer>-36</integer>
      <key>public.kern2.v</key>
      <integer>-56</integer>
    </dict>
    <key>public.kern1.pico</key>
    <dict>
      <key>public.kern2.1</key>
      <integer>-70</integer>
      <key>public.kern2.2</key>
      <integer>-36</integer>
      <key>public.kern2.3</key>
      <integer>-16</integer>
      <key>public.kern2.7</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.quote</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <integer>-60</integer>
      <key>public.kern2.n</key>
      <integer>-46</integer>
      <key>public.kern2.o</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-36</integer>
      <key>public.kern2.J</key>
      <integer>-66</integer>
      <key>public.kern2.S</key>
      <integer>-16</integer>
      <key>public.kern2.T</key>
      <integer>-46</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-36</integer>
      <key>public.kern2.Y</key>
      <integer>-36</integer>
      <key>public.kern2.Z</key>
      <integer>-26</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.g</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-26</integer>
      <key>public.kern2.period</key>
      <integer>-60</integer>
      <key>public.kern2.s</key>
      <integer>-16</integer>
      <key>public.kern2.v</key>
      <integer>6</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-6</integer>
      <key>public.kern2.T</key>
      <integer>-46</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-16</integer>
      <key>public.kern2.Y</key>
      <integer>-16</integer>
      <key>public.kern2.quote</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.slash</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.slash</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-26</integer>
      <key>public.kern2.J</key>
      <integer>-36</integer>
      <key>public.kern2.T</key>
      <integer>-36</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.X</key>
      <integer>-26</integer>
      <key>public.kern2.Y</key>
      <integer>-16</integer>
      <key>public.kern2.Z</key>
      <integer>-16</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-16</integer>
      <key>public.kern2.period</key>
      <integer>-46</integer>
      <key>public.kern2.s</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.talt</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.tiret</key>
    <dict>
      <key>public.kern2.1</key>
      <integer>-26</integer>
      <key>public.kern2.7</key>
      <integer>-36</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-16</integer>
      <key>public.kern2.J</key>
      <integer>-16</integer>
      <key>public.kern2.T</key>
      <integer>-26</integer>
      <key>public.kern2.V</key>
      <integer>-6</integer>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-16</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-16</integer>
      <key>public.kern2.o</key>
      <integer>-6</integer>
      <key>public.kern2.period</key>
      <integer>-56</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>6</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-6</integer>
      <key>public.kern2.T</key>
      <integer>-26</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-16</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-26</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-16</integer>
      <key>public.kern2.o</key>
      <integer>-16</integer>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-36</integer>
    </dict>
  </dict>
</plist>
